html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    overflow-x: clip;
    -webkit-tap-highlight-color: transparent;

    &.open-modal {
        overflow: hidden;

        &::after {
            content: '';
            background-color: black;
            opacity: 0.5;
            position: fixed;
            z-index: 999;
            top: 0;
            bottom: 0;
            height: 100vh;
            width: 100vw;
        }
    }
}