@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

.pod-request-access-landing-page {
    $primary-color: #54E6AF;
    $secondary-color: #2C344B;
    $medium-color: #121725;
    $white: #FFFFFF;
    $secondary-light-color: #5A668A;
    $light-grey: #C2CBE5;

    font-family: "Chivo", sans-serif;
    font-weight: 100;
    word-wrap: break-word;
    overflow-y: auto;

    $mobile-bg-image: '/public/assets/images/LandingPages/podRequestAccessLandingPage/mobile/image-host.jpg';
    $tablet-bg-image: '/public/assets/images/LandingPages/podRequestAccessLandingPage/tablet/image-host.jpg';
    $desktop-bg-image: '/public/assets/images/LandingPages/podRequestAccessLandingPage/desktop/image-host.jpg';
    $bg-pattern-dots: '/public/assets/images/LandingPages/podRequestAccessLandingPage/desktop/bg-pattern-dots.svg';

    background: linear-gradient(rgba($medium-color, 0.9), rgba($medium-color, 0.9)), url($mobile-bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .pod-request-access {
        overflow: hidden;
        width: 100%;
        padding-bottom: 3rem;
        &-header {
            padding: 6.2rem 0 5.7rem;
            text-align: center;
        }

        &-content {
            display: flex;
            flex-direction: column;
            padding: 0 2.4rem;
            text-align: center;
            max-width: 55rem;
            margin: 0 auto;

            &-heading {
                color: $primary-color;
                font-size: 2.6rem;
                line-height: 3.8rem;
                text-transform: uppercase;
                margin-bottom: 1.6rem;

                span {
                    color: $white;
                }
            }

            &-description {
                color: $light-grey;
                font-size: 1.5rem;
                line-height: 2.5rem;
            }

            &-podcast-channels {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.5rem;
                margin: 3.3rem auto 4.8rem;
                
                width: 100%;
                max-width: 45rem;

                img {
                    width: 100%;
                    max-width: 10.2rem;
                    height: 3rem;
                }
            }

            .request-access-form {
                order: 1;
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                width: 100%;
                max-width: 40rem;
                margin: auto;
                position: relative;

                input, button {
                    padding: 8px 3.2rem;
                    font-size: 1.4rem;
                    font-weight: bold;
                    line-height: 2.8rem;
                    outline: none;
                    border: none;
                    border-radius: 50px;
                }

                input {
                    background-color: $secondary-color;
                    color: $light-grey;                   
                }

                button {
                    background-color: $primary-color;
                    color: $medium-color;
                    cursor: pointer;
                    transition: background-color ease-in-out .45s;
                    // pointer-events: auto;
                    z-index: 100;

                    &:hover {
                        background-color: lighten($primary-color, 15%);
                    }
                }

                .request-access-response-message {
                    position: absolute;
                    bottom: -2.5rem;
                    left: 2.5rem;
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: green;

                    &.error-message {
                        color: red;
                    }
                }
            }
        }
    }

    @media screen and (max-height: 1000px) {
        padding-bottom: 10rem;
    }

    @media screen and (min-width: 380px) {
        .pod-request-access {
            &-content {
                &-podcast-channels {
                    flex-direction: row;
                    justify-content: space-between;

                    img {
                        max-width: 8rem;
                        height: 2.5rem;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        background: $medium-color;
        position: relative;
        z-index: 1;

        .pod-request-access {
            position: relative;
            overflow: unset;   
            padding-bottom: 0;

            &::before {
                content: '';
                position: absolute;
                background-image: url($bg-pattern-dots);
                width: 23.2rem;
                height: 10.4rem;
                z-index: 5;
                bottom: -5rem;
                right: 0;
            }
        

            &-bg-image {
                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;
                height: 76.7rem;
                width: 49.1rem;
                background-image: url($tablet-bg-image);
            }
            
            &-header {
                text-align: left;
                padding: 4rem 0 15rem 3.9rem;
            }

            &-content {
                background-color: $medium-color;
                min-width: 67.4rem;
                min-height: 50.9rem;
                padding: 0 0 0 3.9rem;
                margin: 0;
                text-align: left;

                &-heading {
                    padding: 9.3rem 0 3rem;
                    font-size: 4.8rem;
                    line-height: 5.6rem;
                    margin-bottom: 3.1rem;
                }

                &-description {
                    font-size: 1.8rem;
                    line-height: 2.8rem;
                    max-width: 44.5rem;
                }

                &-podcast-channels {
                    margin: 0;

                    img {
                        max-width: 15rem;
                    }
                }

                .request-access-form {
                    order: 0;
                    max-width: 45rem;
                    max-height: 5.20rem;
                    position: relative;
                    margin: 4rem 0 6.4rem;
                    input {
                        height: 5.20rem;
                    }

                    button {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0.30rem;
                        z-index: 100;
                        max-width: 16.3rem;
                        min-height: 4.5rem;
                        line-height: 2.8rem;
                        padding: 9px 2.7rem;
                    }

                }
            }
        }
    }

    @media screen and (min-width: 1275px) {
        overflow-x: hidden;
        padding-bottom: 0;
        .pod-request-access {
            max-width: 127.5rem;
            margin: 13rem 0 13rem 16.5rem;

            &-bg-image {
                top: 0;
                right: 0;
                height: 64rem;
                width: 96.2rem;
                background-image: url($desktop-bg-image);
                background-repeat: no-repeat;
                background-size: cover;
            }

            &-header {
                padding: 0 0 10.3rem 0;
                img {
                    margin-top: -2.8rem;
                }
            }

            &-content {
                padding: 0 5.8rem 0 0;
                min-width: 72.3rem;
                min-height: 50.9rem;

                &-heading {
                    padding: 8.8rem 0 0;
                    font-size: 5.2rem;
                    line-height: 6.2rem;
                    margin-bottom: 2.4rem;
                }

                &-podcast-channels {
                    img {
                        max-width: 18rem;
                        height: 3rem;
                    }
                }

            }
        }
    }

    @media screen and (min-width: 1445px) {
        .pod-request-access {
            margin: 13rem auto;
        }
    }
}