@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.article-preview-card {
    $white: #ffffff;
    $blue-gray: #48556A;
    $light-blue-gray: #6E8098;
    $light-gray: #ECF2F8;

    font-family: "Manrope", sans-serif;
    background-color: $white;
    max-width: 32.7rem;
    min-height: 51.2rem;
    border-radius: 5px;
    
    &-image-wrapper {
        width: 100%;
        border-radius: inherit;

        img {
            width: 100%;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
        }
    }

    &-body {
        padding: 3.6rem 0 0;
        &-heading,
        &-description {
            max-width: 26.3rem;
            margin: 0 auto;
            text-align: left;
        }

        &-heading {
            font-size: 1.6rem;
            font-weight: bold;
            line-height: 2.4rem;
            letter-spacing: -0.2px;
            margin-bottom: 1.2rem;
            color: $blue-gray;
        }

        &-description {
            color: $light-blue-gray;
            font-size: 1.3rem;
            line-height: 2rem;
            letter-spacing: 0.12px;
            margin-bottom: 1.6rem;
        }
    }

    &-footer {
        .user-share-info-section {
            position: relative;
            overflow: hidden;
            width: 100%;

            .user-share-info-main {
                display: flex;
                align-items: center;
                padding: 1.6rem 3rem;

                .user-share-info-avatar {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 5rem;
                }

                .user-share-info {
                    margin-left: 1.6rem;

                    &-names {
                        font-weight: bold;
                        font-size: 1.3rem;
                        line-height: 2rem;
                        letter-spacing: -0.12px;
                        color: $blue-gray;
                    }

                    &-date {
                        font-size: 1.3rem;
                        line-height: 2rem;
                        letter-spacing: -0.12px;
                        color: $light-blue-gray;
                    }
                }

                .user-share-button-wrapper {
                    margin-left: auto;

                    .user-share-info-share-section {
                        overflow: hidden;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translateX(-10%);
                        opacity: 0;
                        width: 0;
                        height: 100%;
                        background-color: $blue-gray;
                        border-bottom-left-radius: 6px;
                        border-bottom-right-radius: 6px;
                        display: flex;
                        align-items: center;
                        gap: 2.1rem;
                        padding-left: 3rem;
                        transition: all ease-in-out .2s;
                        
                        &.open {
                            transform: translateX(0);
                            width: 100%;
                            opacity: 1;
                        }
        
                        .share-text-tag {
                            font-size: 1.3rem;
                            color: $light-blue-gray;
                            line-height: 2rem;
                            letter-spacing: 5px;
                        }
        
                        .user-share-info-links {
                            display: flex;
                            align-items: center;
                            gap: 1.6rem;
                        }
                    }

                    .user-share-info-share-btn {
                        position: relative;
                        z-index: 10;
                        background-color: $light-gray;
                        border: none;
                        outline: none;
                        width: 3.2rem;
                        height: 3.2rem;
                        border-radius: 5rem;
                        cursor: pointer;
                        transition: all .5s;
                        border: 1px solid transparent;
    
                        &:hover {
                            border-color: $blue-gray;
                        }

                        &.active {
                            background-color: $light-blue-gray;
                            img {
                                filter: invert(100%) brightness(1000%) contrast(100%);
                            }
                        }
                    }
                }    
            }
        }
    }

    @media screen and (min-width: 780px) {
        max-width: 73rem;
        width: 100%;
        min-height: 28rem;
        display: flex;

        &-image-wrapper {
            max-width: 28.5rem;
            min-height: 28rem;
            border-bottom-left-radius: inherit;
            border-top-right-radius: 0;

            img {
                height: 100%;
            }
        }

        &-body {
            padding: 3.2rem 4rem;
            flex: 1;

            &-heading,
            &-description {
                max-width: 100%;
                margin: 0;
                text-align: left;
            }

            &-heading {
                font-size: 2rem;
                line-height: 2.8rem;
                letter-spacing: 0.25px;
                margin-bottom: 1.2rem;
            }

            &-description {
                margin-bottom: 2rem;
            }
        }

        &-footer {
            padding: 0;

            .user-share-info-section {
                overflow: visible;
                .user-share-info-main {
                    padding: 0;
                    
                    .user-share-button-wrapper {
                        position: relative;
                        
                        .user-share-info-share-section {
                            overflow: visible;
                            justify-content: center;
                            width: 25rem;
                            max-width: 25rem;
                            height: 5.5rem;
                            transform: translate(calc(-50% - 1rem), -100%);
                            left: 50%;
                            top: -100%;
                            padding: 1.8rem 3.6rem;
                            border-radius: 5px;
                            z-index: -10;

                            &.open {
                                z-index: 5;
                                width: 25rem;
                                max-width: 25rem;
                                height: 5.5rem;
                                left: 50%;
                                top: -100%;
                                transform: translate(calc(-50% - 1rem), -100%);
                            }
                            
                            &::before {
                                content: "";
                                position: absolute;
                                width: 2rem;
                                height: 2rem;
                                background-color: inherit;
                                bottom: -1rem;
                                transform: rotate(45deg);
                            }

                            &, &::before {
                                box-shadow: 0px 1px 10px 5px rgba($blue-gray, 0.5);
                            }

                        }

                        .user-share-info-share-btn {
                            margin-right: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}