.interactive-rating-card-wrapper {
    @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
    $card-bg: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    width: 100%;
    max-width: 327px;
    min-height: 360px;
    background: $card-bg;
    border-radius: 1.5rem;
    padding: 2.4rem 2.4rem 3.2rem;

    .interactive-rating-card-content-wrapper {
        $dark-blue: #262E38;
        $light-gray: #969FAD;
        $medium-gray: #7C8798;
        $orange: #FC7614;
        font-family: 'Overpass', sans-serif;
    
    
        .star-wrapper {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $dark-blue;
            border-radius: 5rem;
            margin-bottom: 1.9rem;
        }
    
        .interactive-rating-card-label {
            color: white;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 1rem;
        }
    
        .interactive-rating-card-description {
            color: $light-gray;
            font-size: 1.4rem;
            line-height: 2.2rem;
            padding-top: 0.4rem;
            margin-bottom: 0.4rem;
        }
    
        .interactive-rating-card-voting-options {
            padding: 2.4rem 0 2.4rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1.8rem;
    
            @media screen and (min-width: 300px) {
                flex-wrap: nowrap;
            }
    
            .interactive-rating-card-voting-option {
                width: 42px;
                height: 42px;
                background-color: $dark-blue;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5rem;
                transition: all ease-in-out 250ms;
                cursor: pointer;
    
                .vote-value {
                    color: $medium-gray;
                    padding-top: 2px;
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                    font-weight: 700;
                    letter-spacing: 0.175px;
                    text-align: center;
                    vertical-align: middle;
                }
    
                &.selected {
                    background-color: $medium-gray;
    
                    .vote-value {
                        color: white;
                    }
                }
    
                &:hover {
                    background-color: $orange;
    
                    .vote-value {
                        color: white;
                    }
                }
            }
        }
    
        .interactive-rating-card-submit-btn {
            background-color: $orange;
            display: inline-block;
            width: 100%;
            padding: 1.2rem;
            border-radius: 2.25rem;
            border: none;
            color: white;
            font-size: 1.4rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.867px;
            line-height: normal;
            transition: all ease-in-out 500ms;
            cursor: pointer;
    
            &:hover {
                background-color: white;
                color: $orange;
            }
        }
    
        .interactive-rating-card-voting-result {
            text-align: center;
    
            .thank-you-image-wrapper {
                margin: 1rem auto 2.4rem;
                text-align: center;
                max-height: 96px;
                max-width: 144px;
    
                img {
                    width: 100%;
                    height: 100%;
                }
            }
    
            .interactive-rating-card-vote-result {
                display: inline-block;
                background-color: $dark-blue;
                color: $orange;
                padding: 5px 12px;
                border-radius: 22.5px;
                line-height: 2.2rem;
                margin-bottom: 2.6rem;
            }
    
            .interactive-rating-card-label {
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .interactive-rating-card-page .interactive-rating-card-wrapper {
        min-width: 412px;
        min-height: 416px;
        padding: 3.2rem;
        margin-top: 5px;
        border-radius: 3rem;
    }

    .interactive-rating-card-content-wrapper {
        .star-wrapper {
            width: 48px;
            height: 48px;
            margin-bottom: 3rem;
        }

        .interactive-rating-card-label {
            font-size: 2.8rem;
            font-weight: 700;
            margin-bottom: 1.05rem;
        }

        .interactive-rating-card-description {
            font-size: 1.5rem;
            line-height: 2.4rem;
            padding-top: 4.5px;
            margin-bottom: 4.5px;
        }

        .interactive-rating-card-voting-options {
            padding: 2.4rem 0 3.2rem;
            justify-content: center;
            gap: 21px;

            .interactive-rating-card-voting-option {
                width: 51px;
                height: 51px;

                .vote-value {
                    padding-top: 3.5px;
                    font-size: 1.6rem;
                    letter-spacing: 0.2px;
                }
            }
        }

        .interactive-rating-card-submit-btn {
            padding: 1.4rem;
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: 2px;
        }

        .interactive-rating-card-voting-result {
            .thank-you-image-wrapper {
                margin: 1.3rem auto 3.2rem;
                height: 108px;
                width: 162px;
            }

            .interactive-rating-card-vote-result {
                padding: 6.5px 1.9rem 1.5px;
                line-height: 2.4rem;
                font-size: 1.5rem;
                margin-bottom: 3.45rem;
            }

            .interactive-rating-card-label {
                margin-bottom: 0.7rem;
            }
        }
    }
}