.nft-preview-card {
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
    $soft-blue-color: #8BACD9;
    $white-color: #FFFFFF;
    $cyan-color: #00FFF8;
    $very-dark-blue-main-bg: #0D192C;
    $very-dark-blue-card-bg: #15263F;
    $very-dark-blue-color: #2E405A;

    font-size: 1.8rem;
    font-family: 'Outfit', sans-serif;

    width: 327px;
    height: 543px;
    padding: 2.4rem;
    margin: 0 auto;
    border-radius: 1.5rem;
    background-color: $very-dark-blue-card-bg;
    box-shadow: 0px 2.5rem 5rem 0px rgba(0, 0, 0, 0.10);

    .equilibrium-img-wrapper {
        cursor: pointer;
        position: relative;

        &:hover {
            &::after {
                content: '';
                background-color: #00FFF8;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0.5;
                border-radius: 0.8rem;
            }

            &::before {
                content: '';
                background-image: url('../../../../../src/assets/images/nftPreviewCard/icon-view.svg');
                content: "";
                display: block;
                width: 47px;
                height: 47px;
                position: absolute;
                z-index: 100;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: url(../../../../../src/assets/images/nftPreviewCard/icon-view.svg);
            }
        }

        img {
            width: 100%;
            border-radius: 0.8rem;
        }
    }

    .nft-card-title {
        color: $white-color;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: normal;
        margin-top: 2.4rem;
        transition: all ease-in-out 250ms;

        &:hover {
            color: $cyan-color;
            cursor: pointer;
        }
    }

    .nft-card-description {
        color: $soft-blue-color;
        margin-top: 1.2rem;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 2.6rem;
    }

    .nft-card-info-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nft-card-info-data {
            display: flex;
            align-items: center;
            gap: 0.7rem;
            margin: 1.6rem 0;

            .nft-card-info-quantity {
                color: $cyan-color;
                font-size: 1.5rem;
                font-weight: 600;
            }

            .nft-card-info-time {
                color: $soft-blue-color;
                font-size: 1.5rem;
                font-weight: 400;
            }

        }
    }

    .nft-card-line {
        height: 1px;
        background-color: $very-dark-blue-color;
    }

    .nft-card-owner-wrapper {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        margin-top: 1.6rem;

        .nft-card-owner-avatar-wrapper {
            width: 32px;

            img {
                width: 100%;
                border-radius: 50%;
                border: 1px solid $white-color;
            }
        }

        .nft-card-owner-info {
            color: $soft-blue-color;
            font-size: 1.5rem;
            font-weight: 400;

            .nft-card-owner-name {
                color: $white-color;
                transition: all ease-in-out 250ms;

                &:hover {
                    color: $cyan-color;
                    cursor: pointer;
                }
            }

        }
    }

    @media screen and (min-width: 1440px) {
        width: 350px;
        height: 596px;

        .nft-card-info-wrapper .nft-card-info-data {
            margin: 2.4rem 0;

            .nft-card-info-quantity,
            .nft-card-info-time {
                font-size: 1.6rem;
            }
        }

        .nft-card-owner-wrapper .nft-card-owner-info {
            font-size: 1.6rem;
        }
    }
}