#mortgageRepaymentCalculator {
    $lime: #D8DB2F;
    $state-100: #E4F4FD;
    $state-300: #9ABED5;
    $state-500: #6B94A8;
    $state-700: #4E6E7E;
    $state-900: #133041;
    $red: #D73328;

    font-family: "Plus Jakarta Sans", sans-serif;

    background-color: $state-100;
    min-height: 100vh;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    .mortgage-repayment-calculator {
        background-color: white;
        max-width: 68.8rem;
        margin: 0 auto;

        &-form {
            padding: 3.2rem 2.4rem;

            &-heading {
                font-size: 2.4rem;
                font-weight: bold;
                line-height: 125%;
                color: $state-900;
            }

            &-clear-all-btn {
                border: none;
                background-color: transparent;
                color: $state-700;
                padding: 0;
                margin-top: 1rem;
            }

            &-main {
                margin: 2.4rem 0;

                & button,
                & fieldset {
                    margin: 2.4rem 0;
                }

                & fieldset {
                    position: relative;

                    & label {
                        display: block;
                        margin-bottom: 1.2rem;
                        color: $state-700;
                        font-size: 1.6rem;
                        line-height: 150%;
                    }

                    & input {
                        font-family: "Plus Jakarta Sans", sans-serif;
                        width: 100%;
                        border-radius: 4px;
                        color: $state-900;
                        font-size: 1.8rem;
                        line-height: 125%;
                        font-weight: bold;
                        border: 1px solid $state-500;
                        padding: 1.25rem 1.65rem;
                        outline: none;
                        position: relative;
                        transition: all ease-in-out .5s;
                    }

                    .input-wrapper::after {
                        transition: all ease-in-out .5s;
                    }

                    &:focus-within {
                        div .input-wrapper {
                            input {
                                border-color: $lime;
                            }

                            &::after {
                                background-color: $lime;
                                color: $state-900;
                                font-weight: bold;
                            }
                        }
                    }

                    .error-message {
                        margin-top: 1.2rem;
                        color: $red;
                        font-size: 1.4rem;
                        line-height: 150%;
                    }

                    &.mortgage-amount-fieldset,
                    &.mortgage-term-fieldset,
                    &.mortgage-interest-rate-fieldset {
                        .error-input-field {
                            .input-wrapper {
                                transition: all ease-in-out .5s;
                                input {
                                    border-color: $red;
                                    transition: all ease-in-out .5s;
                                }
                                &::after {
                                    background-color: $red;
                                    color: white;
                                }
                            }
                        }
                    }

                    &.mortgage-amount-fieldset {
                        .input-wrapper {
                            position: relative;

                            input {
                                padding-left: 5.5rem;
                            }

                            &::after {
                                content: '$';
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                bottom: 1px;
                                left: 1px;
                                z-index: 10;
                                background-color: $state-100;
                                width: 5rem;
                                height: calc(5rem - 2.5px);
                                border-top-left-radius: 4px;
                                border-bottom-left-radius: 4px;
                                font-weight: bold;
                                color: $state-700;
                            }
                        }
                    }

                    &.mortgage-term-fieldset {
                        .input-wrapper {
                            position: relative;

                            &::after {
                                content: 'years';
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                bottom: 1px;
                                right: 1px;
                                z-index: 10;
                                background-color: $state-100;
                                width: 8rem;
                                height: calc(5rem - 2.5px);
                                border-top-right-radius: 4px;
                                border-bottom-right-radius: 4px;
                                font-weight: bold;
                                color: $state-700;
                            }
                        }
                    }

                    &.mortgage-interest-rate-fieldset {
                        .input-wrapper {
                            position: relative;

                            &::after {
                                content: '%';
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                bottom: 1px;
                                right: 1px;
                                z-index: 10;
                                background-color: $state-100;
                                width: 5rem;
                                height: calc(5rem - 2.5px);
                                border-top-right-radius: 4px;
                                border-bottom-right-radius: 4px;
                                font-weight: bold;
                                color: $state-700;
                            }
                        }
                    }

                    &.mortgage-type-fieldset {
                        #RadioInputField .radio-input-wrapper {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 1.6rem;
                            width: 100%;
                            border-radius: 4px;
                            color: $state-900;
                            font-size: 1.8rem;
                            line-height: 125%;
                            font-weight: bold;
                            border: 1px solid $state-500;
                            padding: 1.25rem 1.65rem;
                            outline: none;
                            position: relative;
                            transition: all ease-in-out .5s;

                            input {
                                order: -1;
                                width: 2.4rem;
                                height: 2.4rem;
                                opacity: 0;
                            }

                            label {
                                display: block;
                                position: relative;
                                flex: 1 1 100%;
                                margin-bottom: 0;
                                line-height: 20px;
                                width: 100%;
                                text-transform: capitalize;
                                font-weight: bold;
                                font-size: 1.8rem;
                                color: $state-900;

                                &::before {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    top: 0px;
                                    left: -36px;
                                    border-radius: 50%;
                                    width: 20px;
                                    height: 20px;
                                    border: 1px solid $lime;
                                    background-color: white;
                                }

                                &::after {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    top: 3px;
                                    left: -33px;
                                    border-radius: 50%;
                                    width: 14px;
                                    height: 14px;
                                    background-color: transparent;
                                    transition: all ease-in-out .5s;
                                }
                            }

                            &.checked {
                                background-color: lighten($lime, 37%);
                                border-color: $lime;

                                label::after {
                                    background-color: $lime;
                                }
                            }

                            &:nth-child(2) {
                                margin-bottom: 1.2rem;
                            }
                        }
                    }
                }

                &-submit {
                    background-color: $lime;
                    color: $state-900;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    width: 100%;
                    padding: 1.6rem;
                    border-radius: 2.5rem;
                    font-size: 1.8rem;
                    font-weight: bold;
                    line-height: 125%;
                    cursor: pointer;
                }
            }
        }

        &-result {
            background-color: $state-900;
            padding: 3.2rem 2.4rem;
            text-align: center;

            &-no-result,
            &-calculations {
                &-heading {
                    color: white;
                    font-size: 2.4rem;
                    font-weight: bold;
                    line-height: 125%;
                }

                &-description {
                    margin-top: 1.6rem;
                    color: $state-300;
                    font-size: 1.6rem;
                    line-height: 150%;
                }
            }

            &-calculations {
                text-align: left;

                &-description {
                    margin: 1.6rem 0;
                }

                &-repays {
                    background-color: rgba(0, 0, 0, .25);
                    padding: 2.4rem 1.6rem;
                    border-radius: 8px;
                    border-top: 4px solid $lime;

                    .break-line {
                        border-bottom: 1px solid rgba($state-700, .25);
                        margin: 1.6rem 0;
                    }

                    .monthly-heading,
                    .total-heading {
                        font-size: 1.6rem;
                        line-height: 150%;
                        color: $state-300;
                        margin-bottom: 8px;
                    }

                    .monthly-repayment {
                        font-size: 4rem;
                        font-weight: bold;
                        color: $lime
                    }

                    .total-repayment {
                        font-size: 2.4rem;
                        font-weight: bold;
                        line-height: 125%;
                        color: white;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        padding: 4rem;

        .mortgage-repayment-calculator {
            border-radius: 2.4rem;

            &-form {
                padding: 4rem;

                &-head {
                    display: flex;
                    justify-content: space-between;

                    .mortgage-repayment-calculator-form-clear-all-btn {
                        text-decoration: underline;
                    }
                }

                &-main {
                    display: grid;
                    justify-content: flex-start;
                    grid-template-rows: repeat(4, auto);
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 2.4rem;
                    margin-bottom: 0;

                    & fieldset {
                        margin: 0 0 2.4rem;

                        label {
                            font-weight: 500;
                        }

                        &.mortgage-amount-fieldset {
                            grid-column: 1 / -1;
                        }

                        &.mortgage-term-fieldset {
                            grid-column: 1 / 2;
                        }

                        &.mortgage-interest-rate-fieldset {
                            grid-column: 2 / 3;

                            .input-wrapper {
                                &::after {
                                    height: calc(5rem - 2.5px);
                                }
                            }
                        }

                        &.mortgage-type-fieldset {
                            grid-column: 1 / -1;
                        }

                    }

                    button.mortgage-repayment-calculator-form-main-submit {
                        margin: 2rem 0 0;
                    }
                }
            }

            &-result {
                padding: 4rem;
                border-bottom-left-radius: 2.4rem;
                border-bottom-right-radius: 2.4rem;
            }
        }

    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: center;

        .mortgage-repayment-calculator {
            display: flex;
            max-width: 100.8rem;

            &-form {
                flex: 1 1 50%;

                &-main {
                    &-submit {
                        grid-column: 1 / -1;
                        width: 75%;
                    }

                }
            }

            &-result {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1 1 50%;
                border-top-right-radius: 2.4rem;
                border-bottom-left-radius: 9.6rem;
            }
        }
    }
}